<!-- app/views/password_mailer/reset_password.html.erb -->
<p>Hello <%= @user.email %>!</p>
<p>Email sent for password has been reset.</p>
<p>Click the following link to reset your password:</p>
<p><%= link_to 'Reset Password', @reset_password_url %></p>

